{% extends "base.html" %}
{% block titulo%} Detalles del comando {% endblock %}
{% block contenido %}
{% if comando %}
<article class="detalles">
	<div class="subTituloBarra">
		<h3>Detalles del comando </h3>
	</div>
	<h1>{{ comando.nombre}}</h1>
	<div class="funcionalidades">
		<div class="agregarNuevo">
			<a href="{% url 'agregar_comando'%}">Agregar comando   <span class=" icon-plus-sign"></span></a>	
		</div>
		<div class="edicion">
			{% if comando.favorito %}
			<!-- <a href="{% url 'quitar_favorito' comando.id %}" class=" icon-star "></a> -->
			{% else %}
		<!-- 	<a href="{% url 'agregar_favorito' comando.id %}" class="icon-star3 "></a> -->
			{% endif %}

			<a href="{% url 'editar_comando' comando.id %}" class=" lineaDerecha icon-pencil"></a>
			<a href="" class=" lineaDerecha icon-remove2"></a>
		</div>

	</div>
	<div class="subTitulo"><span>Descripcion</span></div>
	<div class="descripcionInformacion">
		<div class="descripcionDetalladaCompleta">
		 <p>{{ comando.descripcion }}</p>
				 </div>

	</div>

		<div class="subTitulo"><span>Comando</span></div>
	<div class="descripcionInformacion">
		<div class="descripcionDetalladaCompleta">
		 <p>{{ comando.comando }}</p>
				 </div>

	</div>


</article>
{% endif%}
{% endblock %}