{% extends "base.html" %}
{% block titulo%} comandos de comando {% endblock %}
{% block contenido %}
<article class="resultadoBusqueda">
	{% if user.is_authenticated %}
	<div class="subTituloBarra ">
		<h3>Mis Comandos  </h3>
		<div class="opcionesVisualizacion">
	<div class="botonCrear   ">
		<a href="{% url 'agregar_comando'%}">				
			Nuevo <span class=" icon-plus-sign"></span>
		</a>
	</div>
</div>
	{% else %}
	<div class="subTituloBarra ">
		<h3>Comandos publicados </h3>
		<div class="opcionesVisualizacion">
</div>


	{% endif %}


</div>

{% if comandos %}
<div id="itemCollection" class="js-masonry">

{% for comando in comandos %}

<div class="itemIngresadosCodigos lineaColorA"  >
{% if user.is_authenticated %}
	<h4><a href="{% url 'detalle_comando' comando.id %}">{{ comando.nombre|truncatechars:100|capfirst }}</a></h4>
	<div class="favoritoCodigo">
		<a href="{% url 'editar_comando' comando.id %}" class=" icon-pencil2 colorNaranjaC"></a>
		<a href="{% url 'eliminar_comando' comando.id %}" class=" icon-remove2 colorRojo lineaDerecha" ></a>
	</div>
	<p>{{ comando.comando|truncatechars:140 }}  </p>
{% else %}
	<h4><a href="{% url 'detalle_comando_publico' comando.id %}">{{ comando.nombre|truncatechars:100|capfirst }}</a></h4>
	<div class="favoritoCodigo">

	</div>
	<p>{{ comando.comando|truncatechars:140 }}  </p>

{% endif %}

</div>

{% endfor %}
	
</div>


{% if not porFormulario %}
<div class="pagination">
	<span class="step-links">
		{% if comandos.has_previous %}
		<a href="?page={{ comandos.previous_page_number }}">Anterior</a>
		{% endif %}
		<span class="current">
			Pagina {{ comandos.number }} de {{ comandos.paginator.num_pages }}.
		</span>
		{% if comandos.has_next %}
		<a href="?page={{ comandos.next_page_number }}">Siguiente</a>
		{% endif %}
	</span>
</div>
{% endif %}
{% if  porFormulario %}
<div class="pagination">
	<span class="step-links">
		<form action="." method="post" class=" " >
			{% if comandos.has_previous %}
			<input type="hidden" name='page' value="{{ comandos.previous_page_number }}">
			<input type="submit" value="Anterior">

			{% endif %}
			{% csrf_token %}
			<label class="ocultarTodo">

				{{ formularioBusqueda.busqueda }}
				{{ formularioBusqueda.lenguaje }}
				{{ formularioBusqueda.adjunto }}
			</label>

		</form>
		<span class="current">
			Pagina {{ comandos.number }} de {{ comandos.paginator.num_pages }}.
		</span>
		<form action="." method="post" class=" " >

			{% if comandos.has_next %}
			<input type="hidden" name="page" value="{{ comandos.next_page_number }}">
			<input type="submit" value='Siguiente'>
			{% endif %}
			<label class="ocultarTodo">
				{{ formularioBusqueda.busqueda }}
				{{ formularioBusqueda.lenguaje }}
				{{ formularioBusqueda.adjunto }}
			</label>
			{% csrf_token %}
		</form>
	</span>
</div>
{% endif%}
{% endif %}
</article>

{% endblock %}
{% block opcionBuscador %}
<form action="." method="post" class="menuMovil " >
	<!-- <span class="tituloBuscar">Buscar</span> -->
	{{ formularioBusqueda.busqueda }}
	<article class="opcionBuscar">			
		<input type="submit" value="Buscar" class=' btnBuscador'>	
	</article>

	{% csrf_token %}
</form>
{% endblock %}