{% extends "base.html" %}
{% block titulo%} Detalles del comando {% endblock %}
{% block contenido %}
{% if comando %}
<article class="detalles">
	<div class="subTituloBarra barraColorA">
		<h3>Detalles</h3>
		<div class="opcionesVisualizacion">
			<a href="{% url 'agregar_comando'%}"><span class=" icon-plus-sign"></span></a>	
			{% if comando.favorito %}
			<!-- <a href="{% url 'quitar_favorito' comando.id %}" class=" icon-star "></a> -->
			{% else %}
		<!-- 	<a href="{% url 'agregar_favorito' comando.id %}" class="icon-star3 "></a> -->
			{% endif %}
			<a href="{% url 'editar_comando' comando.id %}" class=" lineaDerecha icon-pencil"></a>
			<a href="" class=" lineaDerecha icon-remove2"></a>
			
		</div>
	</div>
	<h1>{{ comando.nombre}}</h1>
	<div class="subTitulo">
		<span>Descripción</span>
	</div>
	<div class="descripcionInformacion">
		<div class="descripcionDetalladaCompleta">
		 <p>{{ comando.descripcion }}</p>
				 </div>

	</div>

		<div class="subTitulo"><span>Comando</span></div>
	<div class="descripcionInformacion">
		<div class="descripcionDetalladaCompleta">
		 <p>{{ comando.comando }}</p>
				 </div>

	</div>


</article>
{% endif%}
{% endblock %}