{% extends "base.html" %}
{% block titulo%} Detalles del comando {% endblock %}
{% block contenido %}
<ul class="breadcrumbs">
  <li><a href="{% url 'inicio' %} " class="icon-home3">Home</a></li>
  <li ><a href="{% url 'comandos_publicos' %}" class="icon-embed2"> Comandos publicos</a></li>
  <li class="current">  <a href="#" class="activado icon-newspaper"> Detalles del comando   </a>  </li>
</ul>

{% if comando %}
  <div class="row">
    <div class="large-12 medium-12 column">
      <h3 class="text-center">{{ comando.nombre}}</h3>
    </div>
  </div>

  <div class="row" >
    <br>
    <div class="large-12">
        <!--<div class="large-12">
          <div class="large-6 column">
            <span>Comando</span>
          </div>
          <div class="large-6 column">

          </div>
        </div>-->
        <table class="large-12">
          <tr><th>Instruccion</th><th>Descripcion</th></tr>
          {% for intruccion in intrucciones %}
            <tr>
              <td> {{ intruccion.instruccion }}</td>
              <td>{{ intruccion.descripcion}}</td>
            </tr> 
          {% endfor %}
        </table>
    </div>  
  </div>
  <div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
  </div>
{% endif%}
  <br>
  <br>
  <br>
  <br>
{% endblock %}