
{% block title %}{{ mensaje }} {% endblock%}
{% block extraHead %} {{ formulario.media }} 
 {{ comandos_items.media }} {% endblock%}
{% block contenido %}
  <a class="close-reveal-modal">&#215;</a>


<section class="contenido">

<article class="ingresoCodigo">
	<div class="subTitulo">
	<!-- 	<h3>Ingresar Comando</h3>	 -->	
	</div>
	<form action="{{ request.get_full_path  }}" method="post" enctype="multipart/form-data" >
		<div class="ingresoTitulo">
			
			{{ formulario.nombre }}
		</div>
		<div class="descripcionCodigo">
			<div class="ingresoCodigoFuente">
				<span>Compartir el comando en la plataforma </span>
				{{ formulario.estado }}
			</div>

		</div>

			<div class="descripcionCodigo">
			<div class="ingresoCodigoFuente">
				<span>Comando</span>
				<input id="id_instruccion" maxlength="500" name="instruccion[]" type="text">	
			</div>

		</div>

					<div class="descripcionCodigo">
			<div class="ingresoCodigoFuente">
				<span>descripcion</span>
					<textarea cols="40" id="id_descripcion" name="descripcion[]" rows="10"></textarea>
			</div>



				<div class="descripcionCodigo">
			<div class="ingresoCodigoFuente">
				<span>Comando</span>
				<input id="id_instruccion" maxlength="500" name="instruccion[]" type="text">	
			</div>

		</div>
		
					<div class="descripcionCodigo">
			<div class="ingresoCodigoFuente">
				<span>descripcion</span>
					<textarea cols="40" id="id_descripcion" name="descripcion[]" rows="10"></textarea>
			</div>




		</div>
		
		{% csrf_token %}
		<hr/>
		<div class="guardarCodigo">
			<div class="publicar"></div>
			<input type="submit" value="Guardar" class="boton">
		</div>
	</form>
</article>
</section>
{% endblock%}

