{% extends "base.html" %}
{% block titulo%} Detalles del comando {% endblock %}
{% block contenido %}
{% if comando %}

<div class="subNavegacion">
	<a href="{% url 'inicio' %} " > Home </a> > 
{% if user.is_authenticated %}
	<a href="{% url 'comandos' %}" > Mis Comandos </a>  > 
	<a href="#" class="activado"> Detalles Comandos  </a>
{% else %}
	<a href="{% url 'comandos_publicos' %}" > Comandos </a>  > 
	<a href="#" class="activado"> Detalles Comandos  </a>
{% endif %}
</div>



<article class="detalles">
	<div class="subTitulo">
		<h3><span class="colorRojo">Detalles del Comando</span></h3>

		{% if user.is_authenticated %}
		<div class="opcionesVisualizacion">
			<a href="{% url 'agregar_comando'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal ><span class=" icon-plus-sign colorVerde"></span></a>	
			{% if comando.favorito %}
			<!-- <a href="{ url 'quitar_favorito' comando.id }" class=" icon-star "></a> -->
			{% else %}
			<!-- 	<a href="{ url 'agregar_favorito' comando.id }" class="icon-star3 "></a> -->
			{% endif %}
			<a href="{% url 'editar_comando' comando.id %}" class=" lineaDerecha icon-pencil2 colorNaranjaC opcionEditar" data-reveal-id="modalAdministracion" data-reveal></a>
			<a href="" class=" lineaDerecha icon-remove2 colorRojo"></a>			
		</div>
		{% else %}
		<div class="opcionesVisualizacion">
			
		</div>

		{% endif %}



	</div>
	<h1>{{ comando.nombre}}</h1>
	<div class="subTitulo2">
		
		<div class="opcionesVisualizacion"></div>
	</div>
	
	<div class="subTitulo2"><span>Comando</span></div>
	<div class="descripcionInformacion">
		<div class="descripcionDetalladaCompleta">
			 <pre><code class="hljs bash"> 
		<table>
			<tr><th>Instruccion</th><th>Descripcion</th></tr>
		{% for intruccion in intrucciones %}
			<tr><td> {{ intruccion.instruccion }}</td><td>{{ intruccion.descripcion}}</td></tr>
		
		
		{% endfor %}
		</table>
			 </code></pre>




		</div>
	</div>
</article>
<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif%}
{% endblock %}