@media screen and (min-width:780px)
	.barraTitulo
		.logo 
			border 0
			margin-left 5%
			padding 0.5em 0 0em 0%
			text-align left
			width 90%
		.ingresoSalida
			//border 1px solid red
			display inline-block
			width 40%
		.subMenuPrincipal
			.activarBuscador 
				display none
			.menuMobilPrincipal 
				display none
		.menuBuscador 			
			.principalMenu
				margin 0 0 0 5%
				background none
				display inline-block !important
				vertical-align top
				//border 1px solid red 
				width 70%
				text-align left
				ul 
					margin 0
					text-align left
					li 
						width 20%
						margin-right 1%
						display inline-block
			.principalMenuBuscador
				//border 1px solid red
				display inline-block !important
				position absolute !important
				width 25%
				right 4%
				top 0 
				margin-top  0.6em
				//background azul_b
				input[type=text]
					width 70%
				select 
					width 95%
	.itemSesion
		border 1px solid gris_c
		width 220px 
		position absolute
		background gris_b  
		//margin-left -500px 
		z-index 1000
		right 5%
		text-align center 
		padding 0.4em
	.filtros
		display none
		background gris_b 
		width 400px !important
		border 2px solid gris_d
		position absolute !important
		z-index 13431 !important
		right 5%
		padding 0.6em
		//width 100%

		.itemFiltros
			margin-left 1%
			display inline-block
			vertical-align  top
			width 100%
			text-align left
			//border 1px solid red
			.nombreFiltro	
				//border-radius 10px 0 0 10px 
				padding-left 2%					
				width 96%
			.datosFiltro						
				width 98%

	.contenido
		.agregar
			display none
			//border 3px solid blue 
			width 100%
			margin-top 0em
			margin-bottom 0em
		.detalles
			width 90%
			.descripcionInformacion
				//border 1px solid red 
				.descripcionDetallada
					border-right 1px solid gris_d 
					margin-right 2%
					width 68%
					p 
						width 95%
					.masInformacionDetallada
						display none 
				.descripcionDetalladaCompleta
					width 96%
				.descripcionExtra
					display inline-block !important
					width 27%
			.tituloDetalles
				//border 1px solid red
				h1 
					//border 1px solid red 
					width 65%
					margin 0
				div 
					//border 1px solid red 
					width 30%
					margin-left 1%
					text-align left 

				h1,div 
					display inline-block 
					vertical-align top 
		.favoritosProyectos
			margin 0 1% 0 1%
			width 52% 
		.detallesCodigo
			width 90%
			.descripcionCodigo
				//width 90%

		.ingresoCodigo
			width 90%
			//border 1px solid red
			form 
				.urlLenguaje
					//border 1px solid red
					.ingresoUrl
						//border 1px solid blue 
						margin-right 1%
						width 48% 
						display inline-block
						vertical-align top 
						span 
							text-align left 
							margin 0em 0 0em 0 							
							width 30%
						input 
							width 66%
					.ingresoLenguaje
						margin-left 1%
						display inline-block
						//border 1px solid blue 
						vertical-align top 
						width 48%
						span 
							margin 0em 0 0em 0 							
							width 30%
						select 
							width 66%
				.ingresoAdjunto
					text-align left 
					//border 1px solid red
					span 
						text-align left 
						//border 1px solid red
						width 18%
					input 
						text-align left
						//border 1px solid red
						width 76%
				.descripcionCodigo
					.ingresoDescripcion
						//margin 0 1% 0 0%
						//width 48%
						textarea 
							width 98%
					.ingresoCodigoFuente
						//margin 0 0% 0 2%
						//border 1px solid red 
						//width 47%
						//textarea 
						//	width 100%

		.opcionesBusqueda
			float none 
			width 20%
			display inline-block 
			vertical-align top 
			//padding 0 0 1em 0
			//border 4px solid red 
			margin-left 1%



		.resultadoBusqueda
			display inline-block 
			vertical-align top 
			width 90%
			text-align center 
			.botonCrear
				width 96%
			.itemIngresadosCodigos
				//display block
				margin-left 1%
				width 31%
				.informacionLenguaje
					//border 1px solid blue
					div 
						width auto 
					//p 
					//height 80px 
			.contenedorItems
				//border 1px solid red 
				text-align center 
			.subTituloBarra
				h3
					width 78%
				.opcionesVisualizacion
					width 17%	
		.ultimosIngresados
			width 30%
			margin-left 1%
		.slide
			figure 
				display inline-block 
			.informacionSitio
				width 67%
				ul 
					width 70% 
		.secciones
			//border 1px solid red 
			width 25%
			margin-right 1%
		#opcionesInicio
			article
				width 20% !important
	.contenidoInicio
		.ingresar
			width 40%
			fieldset
				.iniciarSocial
					a 
						width 50%	
		.cualidades
			width 32%


		
	.menuMobilPrincipal 
		display none
	.navegacion
		padding-bottom 0em 
		margin-bottom 0.5em 
		border-bottom 0
		//height 4em
		ul 
			//border 1px solid red
			width 62%
			li 
				margin-top 1em
				width 28%
				padding 0.3em 0 0.3em 0 
				//padding 1%
				margin-left 1%
				margin-right 1%
		.buscador
			//border 1px solid red
			width 20% 
			margin-top 1em
			margin-bottom 1em
	.botonCrear
		//width 50%
		width 96%
		margin 0 auto  0 auto
	.boton 
		//border 1px solid red
		width 30% !important
	.ocultar 
		display inline
	.ocultarMenu
		display block
@media screen and (min-width:1024px)
	.barraTitulo
		border 0px solid green
// @media screen and (min-width:480px)
// 	.barraTitulo
// 		border 1px solid blue 
// @media screen and (min-width:768px)
// 	.barraTitulo
// 		border 1px solid red 