{% extends "base.html" %}
{% load pygmentify %}
{% block titulo%} Detalle del codigo  {% endblock %}
{% block contenido %}
{% if codigo %}


<article class="detallesCodigo">
	<div class="funcionalidades">
		<div class="agregarNuevo">
			<a href="{% url 'agregar_codigo'%}">Agregar Codigo   <span class=" icon-plus-sign"></span></a>	
		</div>
		<div class="edicion">
			{% if codigo.favorito %}
			<a href="{% url 'quitar_favorito' codigo.id %}" class=" icon-star "></a>

			{% else %}
			<a href="{% url 'agregar_favorito' codigo.id %}" class="icon-star3 "></a>
			{% endif %}

			<a href="{% url 'editar_codigo' codigo.id %}" class=" lineaDerecha icon-pencil"></a>
			<a href="{% url 'eliminar_codigo' codigo.id %}" class=" lineaDerecha icon-remove2"></a>
		</div>

	</div>
	<h1>{{ codigo.titulo}}</h1>
	<hr/>
	<div class="informacion">
		<div class="itemInformacion">
			<div class="nombreInformacion"><span>Lenguaje</span></div>
			<div class="datosInformacion"><span>{{ codigo.lenguaje }}</span></div>
		</div>

		<div class="itemInformacion">
			<div class="nombreInformacion"><span>Archivo Adjunto</span></div>
			<div class="datosInformacion"><span>		{% if codigo.archivo %}
				<a href="{{MEDIA_URL}}/{{codigo.archivo}}">
					<span class=" icon-download"></span>
				</a>
				{% else %}
				<span class="  icon-download"></span>
				{% endif %}</span></div>
			</div>
		</div>
		<hr/>

		<div class="subTitulo"><span>Descripcion</span></div>
		<div class="descripcionCodigo"> <p>{{ codigo.descripcion }}</p> </div>
		<div class="subTitulo"><span>Codigo Fuente</span></div>
		<div class="descripcionCodigo"> {{ codigoFuente|pygmentify_inline }}</div>

	</article>








	{% endif%}



	{% endblock %}


