{% extends "base.html"%}
{% block title %}Agregar Fragmento{% endblock%}
{% block extraHead %} {{ formulario.media }} {% endblock%}
{% block contenido %}
<article class="ingresoCodigo">
	<div class="subTitulo">
		<h3>Ingresar Codigo  </h3>		
	</div>
	<form action="." method="post" enctype="multipart/form-data" >	
		<div class="ingresoTitulo">
			<span>Titulo</span>
			{{ formulario.titulo }}
		</div>
		<hr/>
		<div class="urlLenguaje">
			<div class="ingresoUrl">
				<span>Url</span>
				{{ formulario.links }}
			</div>
			<div class="ingresoLenguaje">
				<span>Lenguaje</span>
				{{ formulario.lenguaje }}
			</div>
		</div>		
		<hr/>
		<div class="ingresoAdjunto">
			<span>Archivo Adjunto </span>
			{{ formulario.archivo }}
		</div>
		<hr/>
		<div class="descripcionCodigo">
			<div class="ingresoDescripcion">
				<span>Descripcion</span>
				{{ formulario.descripcion }}
			</div>
			<div class="ingresoCodigoFuente">
				<span>Codigo</span>			
				{{ formulario.codigo }}
			</div>

		<div class="ingresoCodigoFuente">
				<span>Compartir el codigo en la plataforma </span>			
				{{ formulario.estado }}
			</div>
		</div>
		<hr/>
		<div class="guardarCodigo">
			<div class="publicar"></div>
			<input type="submit" value="Guardar" class="boton">
		</div>
		{% csrf_token %}
	</form>	
</article>
{% endblock%}