{% extends "base.html" %}
{% block titulo%} codigos de codigo {% endblock %}
{% block contenido %}
<article class="resultadoBusqueda">
	<div class="subTituloBarra barraColorB">
		<h3>Mis Codigos </h3>
		<div class="opcionesVisualizacion">
			<div class="botonCrear   ">
				<a href="{% url 'agregar_codigo'%}">	
				Nuevo			
					<span class=" icon-plus-sign"></span>
				</a>
			</div>
		</div>
	</div>
		
	{% if codigos %}
	{% for codigo in codigos %}
	<div class="itemIngresadosCodigos lineaColorB">
		<h4><a href="{% url 'detalle_codigo' codigo.id  %}">{{ codigo.titulo|truncatechars:140|capfirst }}</a></h4>
		<div class="favoritoCodigo">
			<a href="{% url 'codigo_pdf' codigo.id %}" class="icon-file-pdf "></a>
			{% if codigo.favorito %}
		<!-- 	<a href="{% url 'quitar_favorito' codigo.id %}" class=" icon-star "></a> -->
			{% else %}
		<!-- 	<a href="{% url 'agregar_favorito' codigo.id %}" class="icon-star3 "></a> -->
			{% endif %}
			{% if codigo.archivo %}
			<a href="{{MEDIA_URL}}/{{codigo.archivo}} " class=" icon-download2" target="blank"></a>
			{% else %}
			<a href="" class=" icon-download2"></a>
			{% endif %}
		</div>
		<p>{{ codigo.descripcion|truncatechars:140 }}  </p>
		<hr/>
		<div class="informacionLenguaje">		
			<div>{{ codigo.lenguaje }}</div>
		</div>
		<div class="edicionCodigo">
			<a href="{% url 'editar_codigo' codigo.id %}" class=" icon-pencil"></a>
			<a href="{% url 'eliminar_codigo' codigo.id %}" class="icon-trash" ></a>
		</div>
	</div>
	{% endfor %}
	{% if not porFormulario %}
	<div class="pagination">
		<span class="step-links">
			{% if codigos.has_previous %}
			<a href="?page={{ codigos.previous_page_number }}">Anterior</a>
			{% endif %}
			<span class="current">
				Pagina {{ codigos.number }} de {{ codigos.paginator.num_pages }}.
			</span>
			{% if codigos.has_next %}
			<a href="?page={{ codigos.next_page_number }}">Siguiente</a>
			{% endif %}
		</span>
	</div>
	{% endif %}
	{% if  porFormulario %}
	<div class="pagination">
		<span class="step-links">
			<form action="." method="post" class=" " >
				{% if codigos.has_previous %}
				<input type="hidden" name='page' value="{{ codigos.previous_page_number }}">
				<input type="submit" value="Anterior">
				{% endif %}
				{% csrf_token %}
				<label class="ocultarTodo">
					{{ formularioBusqueda.busqueda }}
					{{ formularioBusqueda.lenguaje }}
					{{ formularioBusqueda.adjunto }}
				</label>
			</form>
			<span class="current">
				Pagina {{ codigos.number }} de {{ codigos.paginator.num_pages }}.
			</span>
			<form action="." method="post" class=" " >
				{% if codigos.has_next %}
				<input type="hidden" name="page" value="{{ codigos.next_page_number }}">
				<input type="submit" value='Siguiente'>
				{% endif %}
				<label class="ocultarTodo">
					{{ formularioBusqueda.busqueda }}
					{{ formularioBusqueda.lenguaje }}
					{{ formularioBusqueda.adjunto }}
				</label>
				{% csrf_token %}
			</form>
		</span>
	</div>
	{% endif%}
	{% endif %}




</article>

{% endblock %}

{% block opcionBuscador %}
<form action="." method="post" class="menuMovil " >
	<!-- <span class="tituloBuscar">Buscar</span> -->
	{{ formularioBusqueda.busqueda }}
	<article class="opcionBuscar">			
				<input type="submit" value="Buscar" class=' btnBuscador'>			
		</article>
		<span class="masOpciones icon-settings"></span>
	<div class="filtros">
		<div class="itemFiltros">
			<!-- <div class="nombreFiltro"><span>Lenguaje de Progrmacion</span></div> -->
			<div class="datosFiltro"><span>
				{{ formularioBusqueda.lenguaje }}
			</span></div>
		</div>


		<div class="opcionCheckbox">
			{{ formularioBusqueda.adjunto }}
			<label for="id_adjunto">Archivo Adjunto</label>
		</div>

	</div>
	{% csrf_token %}
</form>


{% endblock %}	

