@media screen and (min-width:768px)
	#contenido
		//border-radius(10px)
		//border 2px solid gris_60
		width 70%
		position relative
		//padding 1em
		margin 1em 2% 1em 3%
		//background-color gris_10

		.contenidoAgrupado
			//padding 1em
			padding-left 1em
			padding-right 1em
			//padding-top 0.5em
			padding-bottom

		article
			//border 1px solid gris_80
			//width 30%

		.fragmentos_codigo
			//width 30%
	#cuadroInteractivo
		width 20%

footer
	div
		width 30%

