{% extends "base.html" %}
{% load static from staticfiles %}
{% block titulo %} Inicio Sesion {% endblock %}
{% block contenido %}



<section id="opcionesInicio" data-equalizer>
	<h2> Bienvenido  	{{ user}} </h2>
</br>
</br>

<article class="secciones fondoRojoE" data-equalizer-watch>
	<div class="fondoRojo">

		<h2>Comandos</h2>
		<div class="botonCrear   ">
			<a href="{% url 'agregar_comando'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal>	
				Nuevo <span class=" icon-plus-sign"></span>
			</a>
		</div>
	</br>
</br>


<!-- <a href="">  Ver comandos <span class=" icon-caret-right"></span> </a> -->

</div>


<div class="ultimosIngresadosItems ">
	<h3>Ultimos Ingresados</h3>
	{% if comandos %}
	{% for comando in comandos %}
	<div class="itemUltimos">
		<a href="{% url 'detalle_comando' comando.id %}">
			{{ comando.nombre|truncatechars:70 }}
		</a>
	</div>
	{% endfor %}
	{% endif %}


</div>



</article>
<article class="secciones fondoVerdeE" data-equalizer-watch>
	<div class="fondoVerde">			
		<h2>Codigos</h2>
		<div class="botonCrear2   ">
			<a href="{% url 'agregar_codigo'%}"  class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal >	
				Nuevo <span class=" icon-plus-sign"></span>
			</a>
		</div>
	</br>
</br>


<!-- <a href="" >  Ver Codigos <span class=" icon-caret-right"></span> </a> -->
</div>

<div class="ultimosIngresadosItems ">
	<h3>Ultimos Ingresados</h3>
	{% if codigos %}
	{% for codigo in codigos %}
	<div class="itemUltimos">
		<a href="{% url 'detalle_codigo' codigo.id %}">
			{{ codigo.titulo|truncatechars:70 }}
		</a>
	</div>
	{% endfor %}
	{% endif %}
</div>
<!--<a href="{% url 'agregar_codigo'%}">Nuevo<span class=" icon-plus-sign"></span></a> -->
</article>
<article class="secciones fondoAzulE" data-equalizer-watch>
	<div class="fondoAzul">

		<h2>Proyectos</h2>
		<div class="botonCrear   ">
			<a href="{% url 'agregar_proyecto'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal>	
				Nuevo <span class=" icon-plus-sign"></span>
			</a>
		</div>
	</br>
</br>




<!-- 	<a href="">  ver comandos <span class=" icon-caret-right"></span> </a> -->
</div>
<div class="ultimosIngresadosItems ">

	<h3>Ultimos Ingresados</h3>

	{% if proyectos %}
	{% for proyecto in proyectos %}
	<div class="itemUltimos">
		<a href="{% url 'detalle_proyecto' proyecto.id %}">
			{{ proyecto.nombre|truncatechars:70 }}
		</a>
	</div>
	{% endfor %}
	{% endif %}



</div>
</article>	


<!-- 	<article class="secciones fondoNaranjaE" data-equalizer-watch>
		<div class="fondoNaranja">
			

			<h2>Favoritos</h2>
			<a href="">  ver comandos <span class=" icon-caret-right"></span> </a>
		</div>



		<div class="ultimosIngresadosItems ">
			<h3>Ultimos Ingresados</h3>
			<div class="itemUltimos">Lorem ipsum dolor dfssdf asd asdfa sdf sit amet, consectetur adipisicing elit.</div>
			<div class="itemUltimos">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
			<div class="itemUltimos">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
			<div class="itemUltimos">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		</div>
	</article>	 -->


</section>
<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

