{% extends "base.html"%}
{% block title %} Inicio de Sesion {% endblock%}
{% block contenidoInicio %}

<article >

<div class="cualidades">

	<span> Ingresa a esta prueba Demo y comprueba que es muy facil ganar tiempo </span>
	<ul>
		<li>Almacena Comandos, Codigos y Proyectos de referencia. </li>
		<li>Consulta rapidamente la informacion ingresada.</li>
		<li>Y consigue el codigo fuente   <a href="https://github.com/debian789/BibliotecaCodigo" >aqui. </a></li>
	</ul>
	<span>No pierdas tiempo buscando lo que ya creaste y lo que te funciono.</span>

	
</div>
	<div class="ingresar">
		
	<fieldset >
		<div class="iniciarSocial">
			

		<a href="{% url 'social:begin' 'twitter' %}"> <span class="icon-twitter"></span> ENTRA CON TWITTER </a>	
	<!-- 	<a href="{% url 'social:begin' 'facebook' %}"><span class=" icon-facebook2"></span>ENTRAR CON FACEBOOK</a> -->

			
		</div>

		<hr>
		<div class="">
			<h3>Iniciar Prueba Demo </h3>

		<span> Username: demo , Password: demo </span>
		<form action="." method="POST">
			{% csrf_token %}
			{{mensaje}}
			{{form.as_p}}
			<input type="submit" value="Ingresar" class="boton ">
		</form>
			
		</div>
	</fieldset>
	</div>
</article>
{% endblock%}