{% extends "base.html" %}
{% load static from staticfiles %}
{% block titulo %} Inicio Sesion {% endblock %}
{% block contenido %}



<section class="slide row">
	<div class="large-6 column show-for-large-up">
		<figure><img src="{% static "img/hombre.jpg" %}" alt=""></figure>
	
	</div>
	<div class="large-6  column ">
		<br>


		<div class=" large-12 medium-6 column informacionSitio">
			<h3 class="text-center">Bienvenido {{ user }} </h3>


			<br>
			
			<br>
			<div class="large-12 column">
				<div class="large-6 small-6 column">
					<div class="large-12 column">
						<h5><a href="{% url 'codigos' %}">Mis codigos</a></h5>						
					</div>
					<div class="large-12">
						<a href="{% url 'codigos' %}"><img src="{% static "img/codigos.jpg" %}"/></a>						
					</div>
					<div class="large-12 column">
							<a href="{% url 'agregar_codigo'%}"  class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal >
							 <span class="icon-plus"> Agregar</span>
							<!-- <span class="show-for-large-up">Nuevo</span>-->
							</a>						
					</div>


				</div>
				<div class="large-6 small-6 column ">
					
			<div class="large-12 column">
						<h5><a href="{% url 'comandos' %}">Mis comandos</a></h5>						
					</div>
					<div class="large-12">
						<a href="{% url 'comandos' %}"><img src="{% static "img/comandos.jpg" %}"/></a>						
					</div>

					<div class="large-12 column">
							<a href="{% url 'agregar_comando'%}"  class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal >
							 <span class="icon-plus"> Agregar </span>
							<!-- <span class="show-for-large-up">Nuevo</span>-->
							</a>						
					</div>






				</div>
			</div>
			<br/>
			<hr>


<!--
			<div class="large-12 column">
				<div class="large-8 small-10 column">
					<h4><a href="{% url 'comandos' %}">Mis comandos</a></h4>
				</div>
				<div class="large-4 small-2 column ">
					<h4 class="text-right">
						<a href="{% url 'agregar_comando'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal >
						 <span class="icon-file-text"></span>
						 <span class="show-for-large-up"> Nuevo</span>
						</a>
					</h4>
				</div>
			</div>
			<div class="large-12 column">
				<div class="large-8 small-10  column"><h4><a href="{% url 'proyectos_publicos' %}">Mis proyectos</a></h4> </div>
				<div class="large-4 small-2 column "><h4 class="text-right"><a href="{% url 'agregar_proyecto'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal  > <span class="icon-file-text"></span><span class="show-for-large-up"> Nuevo</span></a></h4></div>
			</div>
			<hr>
-->
</div>




		<article class="text-center large-12 medium-6 column">
					
			<h4>Mira lo que otras personas ha compartido en</h4>
			<br>
			<div class="large-6 medium-6 small-12 column">
			<h4><a href="{% url 'comandos_publicos' %}">Comandos</a></h4>
<a href="{% url 'comandos_publicos' %}"><img src="{% static "img/comandos.jpg" %}"/></a>

			</div>
			<div class="large-6 medium-6 small-12 column">
			<h4><a href="{% url 'codigos_publicos' %}" >Codigos</a></h4>
			<a href="{% url 'codigos_publicos' %}" ><img src="{% static "img/codigos.jpg" %}"/></a>

			</div>
			<!--<div class="large-4 medium-4 small-12 column"><h4><a href="{% url 'proyectos_publicos' %}">Proyectos</a></h4></div>-->
		</article>

	</div>





</section>

<br/>
<br/>
<br/>





































<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}

