{% extends "base.html" %}
{% load static from staticfiles %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}

<section class="slide row">
	<div class="large-6 column show-for-large-up">
		<figure><img src="{% static "img/hombre.jpg" %}" alt=""></figure>
	
	</div>
	<div class="large-6 column">
		<br>
		<div class="informacionSitio">
		<h3 class="text-center">Comprueba que es muy fácil ganar tiempo de desarrollo </h3>
		<ul>
			<li>Almacena comandos y codigos  que sirvan como referencia</li>
			<li>Consulta de forma sencilla la información ingresada</li>
			<li>Comparte tu información si lo deceas </li>		
		</ul>
		<!--
			<h2>Inicia sesion con tu red social favorita </h2>			
			<a href="{% url 'social:begin' 'twitter' %}" class="inicioTwitter" ><span class="icon-twitter3 colorTwitter"></span></a>
			<a href="{% url 'social:begin' 'google' %}" class="inicioFacebook" ><span class="icon-google-plus2 colorGooglePlus"></span></a>		
		-->	
		</div>

		<!-- <li>Administra la visualizacion de la informacion ingresada </li> -->	
		<!-- <li>No pierdas tiempo buscando lo que creaste y te funciono </li> -->
		<!-- <a href=""><span class="icon-facebook2 colorFacebook"></span></a>
				<a href=""><span class="icon-google-plus2 colorGooglePlus"></span></a> -->
		<!-- 			<a href="{% url 'social:begin' 'facebook' %}" class="inicioFacebook" ><span class="icon-twitter3 colorTwitter"></span></a> -->


		<article class="text-center">
			<br>
			<h3>Mira lo que otras personas ha compartido en</h3>
			<br>
			<div class="large-6 column">
			<h4><a href="{% url 'comandos_publicos' %}">Comandos</a></h4>
			<a href="{% url 'comandos_publicos' %}"><img src="{% static "img/comandos.jpg" %}"/></a>

			</div>
			<div class="large-6 column">
			<h4><a href="{% url 'codigos_publicos' %}" >Codigos</a></h4>
			<a href="{% url 'codigos_publicos' %}" ><img src="{% static "img/codigos.jpg" %}"/></a>

			</div>
			<!--<div class="large-4 column"><h4><a href="{% url 'proyectos_publicos' %}">Proyectos</a></h4></div>-->
		</article>

	</div>
</section>

<br/>
<br/>
<br/>
{% endblock %}

