{% extends "base.html"%}
{% block title %}Agregar Proyecto{% endblock%}
{% block contenido %}
<article class="ingresoCodigo">
	<div class="subTituloBarra ">
		<h3>Ingresar Proyecto</h3>
		
	</div>
	<form action="." method="post" enctype="multipart/form-data" >
		<div class="ingresoTitulo">
			<span>Nombre</span>
			{{ formulario.nombre }}
		</div>
		<hr/>
		<div class="urlLenguaje">
			<div class="ingresoUrl">
				<span>Url</span>
				{{ formulario.link }}
			</div>
			<div class="ingresoUrl">
				<span>Version</span>
				{{ formulario.version }}
			</div>
		</div>
		<hr/>
		<div class="urlLenguaje">
			<div class="ingresoLenguaje">
				<span>Lenguaje</span>
				{{ formulario.lenguaje }}
			</div>
			<div class="ingresoLenguaje">
				<span>Nivel Desarrollo</span>
				{{ formulario.Nivel }}
			</div>
		</div>
		<hr/>
		<div class="urlLenguaje">
			<div class="ingresoLenguaje">
				<span>Sistema Operativo</span>
				{{ formulario.os }}
			</div>
			<div class="ingresoLenguaje">
				<span>Interfaz</span>
				{{ formulario.interfaz }}
			</div>
			<hr/>
			<div class="ingresoAdjunto">
				<span>Archivo Adjunto </span>
				{{ formulario.archivo }}

			</div>
			<hr/>
			<div class="ingresoDescripcionCompleto">
				<span>Descripcion</span>
				{{ formulario.descripcion }}
			</div>
		<div class="ingresoDescripcionCompleto">
				<span>Compartir el proyecto en la plataforma </span>
				{{ formulario.estado }}
			</div>

		</div>
		{% csrf_token %}
		<hr/>
		<div class="guardarCodigo">
			<div class="publicar"></div>
			<input type="submit" value="Guardar" class="boton">
		</div>
	</form>
</article>
{% endblock%}

