{% extends "base.html" %}
{% block titulo%} Proyectos de proyecto {% endblock %}
{% block contenido %}
<div class="subNavegacion">
	<a href="{% url 'inicio' %} " > Home </a> >
{% if user.is_authenticated %}
	<a href="{% url 'proyectos' %}" class="activado"> Mis Proyectos  </a>  
{% else %}
	<a href="{% url 'proyectos_publicos' %}" class="activado"> Proyectos </a>  
{% endif %}
</div>




<article class="resultadoBusqueda">
	<div class="subTituloBarra ">
		{% if user.is_authenticated %}
		<h3>Mis Proyectos  </h3>
		<div class="opcionesVisualizacion">
			<div class="botonCrear   ">
				<a href="{% url 'agregar_proyecto'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal>				
					Nuevo
					<span class=" icon-plus-sign"></span>
				</a>
			</div>
		</div>
		{% else %}
				<h3>Proyectos publicados  </h3>
		<div class="opcionesVisualizacion">

		</div>

		{% endif %}



	</div>
	{% if proyectos %}
	<div id="itemCollection" class="js-masonry">
	{% for proyecto in proyectos %}
	<div class="itemIngresadosCodigos lineaColorC">

		{% if user.is_authenticated %}

		<h4><a href="{% url 'detalle_proyecto' proyecto.id %}">{{ proyecto.nombre|truncatechars:140|capfirst }}</a></h4>
		<div class="favoritoCodigo">

		</div>
		<p>{{ proyecto.descripcion|truncatechars:140 }}  </p>
		<hr/>
		<div class="informacionLenguaje2">		
			<div><span>Lenguaje</span> <span>{{ proyecto.lenguaje }}</span></div>
			<div><span>Version</span><span>{{ proyecto.Nivel }}</span></div>
			<div><span>URL</span><span>{{ proyecto.link }}</span></div>
		</div>
		<div class="edicionCodigo2">
						<a href="{% url 'proyecto_pdf' proyecto.id %}" class="icon-file-pdf colorRojo  "> </a>
			{% if proyecto.favorito %}
			<!-- <a href="" class=" icon-star "></a> -->
			{% else %}
			<!-- <a href="" class="icon-star3 "></a> -->
			{% endif %}
			{% if proyecto.archivo %}
			<a href="{{MEDIA_URL}}/{{proyecto.archivo}} " class=" icon-download2  lineaDerecha colorVerde" target="blank"></a>
			{% else %}
			<!-- <a href="" class=" icon-download2"></a> -->
			{% endif %}

			<a href="{% url 'editar_proyecto' proyecto.id %}" class=" icon-pencil2 lineaDerecha  colorNaranjaC opcionEditar" data-reveal-id="modalAdministracion" data-reveal></a>
			<a href="{% url 'eliminar_proyecto' proyecto.id %}" class=" icon-remove2 lineaDerecha colorRojo" ></a>
		</div>

{% else %}


		<h4><a href="{% url 'detalle_proyecto_publico' proyecto.id %}">{{ proyecto.nombre|truncatechars:140|capfirst }}</a></h4>
		<div class="favoritoCodigo">

		</div>
		<p>{{ proyecto.descripcion|truncatechars:140 }}  </p>
		<hr/>
		<div class="informacionLenguaje2">		
			<div><span>Lenguaje</span> <span>{{ proyecto.lenguaje }}</span></div>
			<div><span>Version</span><span>{{ proyecto.Nivel }}</span></div>
			<div><span>URL</span><span>{{ proyecto.link }}</span></div>
		</div>
		<div class="edicionCodigo2">
			<a href="{% url 'proyecto_pdf' proyecto.id %}" class="icon-file-pdf colorRojo  "> </a>
			{% if proyecto.archivo %}
			<a href="{{MEDIA_URL}}/{{proyecto.archivo}} " class=" icon-download2  lineaDerecha colorVerde" target="blank"></a>
			{% else %}
			<!-- <a href="" class=" icon-download2"></a> -->
			{% endif %}

		</div>


{% endif %}


	</div>
	{% endfor %}
</div>
	{% if not porFormulario %}
	<div class="pagination">
		<span class="step-links">
			{% if proyectos.has_previous %}
			<a href="?page={{ proyectos.previous_page_number }}">Anterior</a>
			{% endif %}
			<span class="current">
				Pagina {{ proyectos.number }} de {{ proyectos.paginator.num_pages }}.
			</span>
			{% if proyectos.has_next %}
			<a href="?page={{ proyectos.next_page_number }}">Siguiente</a>
			{% endif %}
		</span>
	</div>
	{% endif %}
	{% if  porFormulario %}
	<div class="pagination">
		<span class="step-links">
			<form action="." method="post" class=" " >
				{% if proyectos.has_previous %}
				<input type="hidden" name='page' value="{{ proyectos.previous_page_number }}">
				<input type="submit" value="Anterior">

				{% endif %}
				{% csrf_token %}
				<label class="ocultarTodo">

					{{ formularioBusqueda.busqueda }}
					{{ formularioBusqueda.lenguaje }}
					{{ formularioBusqueda.adjunto }}
				</label>

			</form>
			<span class="current">
				Pagina {{ proyectos.number }} de {{ proyectos.paginator.num_pages }}.
			</span>
			<form action="." method="post" class=" " >

				{% if proyectos.has_next %}
				<input type="hidden" name="page" value="{{ proyectos.next_page_number }}">
				<input type="submit" value='Siguiente'>
				{% endif %}
				<label class="ocultarTodo">
					{{ formularioBusqueda.busqueda }}
					{{ formularioBusqueda.lenguaje }}
					{{ formularioBusqueda.adjunto }}
				</label>
				{% csrf_token %}
			</form>
		</span>
	</div>
	{% endif%}
	{% endif %}
</article>
{% endblock %}


{% block opcionBuscador %}
<div class="principalMenuBuscador ">

	<form action="." method="post" class="menuMovil " >
		<!-- <span class="tituloBuscar">Buscar</span> -->
		{{ formularioBusqueda.busqueda }}
		<article class="opcionBuscar">			
				<button type="submit" value="" class=' btnBuscador' >
		<span class="icon-search"> </span>		
	</button>		
		</article>
		<span class="masOpciones icon-settings"></span>	

		<div class="filtros">
			<div class="itemFiltros">
				<!-- <div class="nombreFiltro"><span>Lenguaje de Progrmacion</span></div> -->				
					{{ formularioBusqueda.lenguaje }}				
			</div>
			<div class="itemFiltros">
				<!-- <div class="nombreFiltro"><span>Lenguaje de Progrmacion</span></div> -->				
					{{ formularioBusqueda.Nivel }}				
			</div>
			<div class="itemFiltros">
				<!-- <div class="nombreFiltro"><span>Lenguaje de Progrmacion</span></div> -->				
					{{ formularioBusqueda.os }}				
			</div>
			<div class="itemFiltros">
				<!-- <div class="nombreFiltro"><span>Lenguaje de Progrmacion</span></div> -->			
					{{ formularioBusqueda.interfaz }}
			</div>	
			<div class="opcionCheckbox">
				{{ formularioBusqueda.adjunto }}
				<label for="id_adjunto">Archivo Adjunto</label>
			</div>
		
		</div>

		

		{% csrf_token %}
	</form>

	<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>
{% endblock %}