{% extends "base.html" %}
{% block titulo%} Proyectos de proyecto {% endblock %}
{% block contenido %}
{% if proyecto %}

<div class="subNavegacion">
	<a href="{% url 'inicio' %} " > Home </a> > 
{% if user.is_authenticated %}
	<a href="{% url 'proyectos' %}" > Mis Proyectos </a>  > 
	<a href="#" class="activado"> Detalles Proyectos  </a>
{% else %}
	<a href="{% url 'proyectos_publicos' %}" > Proyectos </a>  > 
	<a href="#" class="activado"> Detalles Proyectos  </a>
{% endif %}
</div>




<article class="detalles">
	<div class="subTitulo ">
		<h3><span class="colorAzul"> Detalles del Proyecto</span> </h3>
		<div class="opcionesVisualizacion">
{% if user.is_authenticated %}
			<a href="{% url 'proyecto_pdf' proyecto.id %}" class="icon-file-pdf colorRojo "> </a>
			<a href="{% url 'agregar_proyecto'%}" class="opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal><span class=" icon-plus-sign lineaDerecha colorVerde"></span></a>	
			{% if proyecto.favorito %}
			<!-- <a href="{ url 'quitar_favorito' proyecto.id }" class=" icon-star "></a> -->
			{% else %}
		<!-- 	<a href="{ url 'agregar_favorito' proyecto.id }" class="icon-star3 "></a> -->
			{% endif %}
			<a href="{% url 'editar_proyecto' proyecto.id %}" class=" lineaDerecha icon-pencil2 colorNaranjaC opcionEditar" data-reveal-id="modalAdministracion" data-reveal ></a>
			<a href="" class=" lineaDerecha icon-remove2 colorRojo"></a>	
{% else %}

			<a href="{% url 'proyecto_pdf' proyecto.id %}" class="icon-file-pdf colorRojo "> </a>

{% endif %}

		</div>
	</div>
	<h1>{{ proyecto.nombre}}</h1>
	<div class="descripcionInformacion">
		<div class="descripcionDetallada">
	<div class="subTitulo2"><span>Descripcion</span></div>
		 <p>{{ proyecto.descripcion }}</p>
				 <span class="masInformacionDetallada"> Mas informacion</span>
				 </div>
		<div class="descripcionExtra fondoAzulD">
			<div class="tituloExtra">Informacion Extra </div>
			<div class="itemInformacion">
				<div class="tituloDescripcion"><span>Lenguaje</span>
					<span>{{ proyecto.lenguaje }}</span>
				</div>

			</div>
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Nivel de desarrollo </span>
					<span>{{ proyecto.Nivel }}</span>
				</div>
			</div>
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Sistema Operativo </span>
					<span>{{ proyecto.os }}</span>
				</div>
			</div>

			{% if proyecto.version %}
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Version </span>
					<span>{{ proyecto.version }}</span>
				</div>
			</div>
			{% else %}
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Version </span>
					<span> --- </span>
				</div>
			</div>

			{% endif %}

			{% if proyecto.link %}
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Url</span>
					<span><a href="{{ proyecto.link }}" target="_blank">{{ proyecto.link|truncatechars:50 }}</a></span>
				</div>
			</div>
			{% else  %}
						<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Url</span>
					<span>Sin Url</span>
				</div>
			</div>
			{% endif  %}
			<div class="itemInformacion">
				<div class="tituloDescripcion">
					<span>Archivo Adjunto</span>
					<span>	
						{% if proyecto.archivo %}
						<a href="{{MEDIA_URL}}/{{proyecto.archivo}}" target="blank">
							<span class=" icon-download2"></span> Descargar 
						</a>
						{% else %}
						 Sin Archivo Adjunto 
						{% endif %}
					</span>
				</div>
				</div>
		</div>
	</div>
</article>
<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif%}
{% endblock %}