@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?v6h772');
	src:url('fonts/icomoon.eot?#iefixv6h772') format('embedded-opentype'),
		url('fonts/icomoon.ttf?v6h772') format('truetype'),
		url('fonts/icomoon.woff?v6h772') format('woff'),
		url('fonts/icomoon.svg?v6h772#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
.icon-newspaper:before {
	content: "\e904";
}
.icon-pencil:before {
	content: "\e905";
}
.icon-pencil2:before {
	content: "\e906";
}
.icon-quill:before {
	content: "\e907";
}
.icon-image:before {
	content: "\e90d";
}
.icon-images:before {
	content: "\e90e";
}
.icon-play:before {
	content: "\e912";
}
.icon-film:before {
	content: "\e913";
}
.icon-pacman:before {
	content: "\e916";
}
.icon-bullhorn:before {
	content: "\e91a";
}
.icon-connection:before {
	content: "\e91b";
}
.icon-podcast:before {
	content: "\e91c";
}
.icon-feed:before {
	content: "\e91d";
}
.icon-book:before {
	content: "\e91f";
}
.icon-books:before {
	content: "\e920";
}
.icon-file-text:before {
	content: "\e922";
}
.icon-profile:before {
	content: "\e923";
}
.icon-file-empty:before {
	content: "\e924";
}
.icon-files-empty:before {
	content: "\e925";
}
.icon-file-text2:before {
	content: "\e926";
}
.icon-copy:before {
	content: "\e92c";
}
.icon-stack:before {
	content: "\e92e";
}
.icon-folder:before {
	content: "\e92f";
}
.icon-folder-open:before {
	content: "\e930";
}
.icon-folder-plus:before {
	content: "\e931";
}
.icon-folder-minus:before {
	content: "\e932";
}
.icon-folder-download:before {
	content: "\e933";
}
.icon-folder-upload:before {
	content: "\e934";
}
.icon-cart:before {
	content: "\e93a";
}
.icon-coin-dollar:before {
	content: "\e93b";
}
.icon-credit-card:before {
	content: "\e93f";
}
.icon-calculator:before {
	content: "\e940";
}
.icon-envelop:before {
	content: "\e945";
}
.icon-pushpin:before {
	content: "\e946";
}
.icon-history:before {
	content: "\e94d";
}
.icon-clock:before {
	content: "\e94e";
}
.icon-clock2:before {
	content: "\e94f";
}
.icon-alarm:before {
	content: "\e950";
}
.icon-bell:before {
	content: "\e951";
}
.icon-calendar:before {
	content: "\e953";
}
.icon-printer:before {
	content: "\e954";
}
.icon-display:before {
	content: "\e956";
}
.icon-laptop:before {
	content: "\e957";
}
.icon-mobile:before {
	content: "\e958";
}
.icon-mobile2:before {
	content: "\e959";
}
.icon-tablet:before {
	content: "\e95a";
}
.icon-box-add:before {
	content: "\e95e";
}
.icon-box-remove:before {
	content: "\e95f";
}
.icon-download:before {
	content: "\e960";
}
.icon-upload:before {
	content: "\e961";
}
.icon-floppy-disk:before {
	content: "\e962";
}
.icon-drive:before {
	content: "\e963";
}
.icon-database:before {
	content: "\e964";
}
.icon-undo:before {
	content: "\e965";
}
.icon-redo:before {
	content: "\e966";
}
.icon-undo2:before {
	content: "\e967";
}
.icon-redo2:before {
	content: "\e968";
}
.icon-forward:before {
	content: "\e969";
}
.icon-reply:before {
	content: "\e96a";
}
.icon-bubble:before {
	content: "\e96b";
}
.icon-bubbles:before {
	content: "\e96c";
}
.icon-bubbles2:before {
	content: "\e96d";
}
.icon-user:before {
	content: "\e971";
}
.icon-users:before {
	content: "\e972";
}
.icon-user-plus:before {
	content: "\e973";
}
.icon-user-minus:before {
	content: "\e974";
}
.icon-user-check:before {
	content: "\e975";
}
.icon-hour-glass:before {
	content: "\e979";
}
.icon-spinner:before {
	content: "\e97a";
}
.icon-spinner2:before {
	content: "\e97b";
}
.icon-spinner8:before {
	content: "\e981";
}
.icon-spinner9:before {
	content: "\e982";
}
.icon-spinner10:before {
	content: "\e983";
}
.icon-spinner11:before {
	content: "\e984";
}
.icon-binoculars:before {
	content: "\e985";
}
.icon-search:before {
	content: "\e986";
}
.icon-zoom-in:before {
	content: "\e987";
}
.icon-zoom-out:before {
	content: "\e988";
}
.icon-enlarge:before {
	content: "\e989";
}
.icon-shrink:before {
	content: "\e98a";
}
.icon-enlarge2:before {
	content: "\e98b";
}
.icon-shrink2:before {
	content: "\e98c";
}
.icon-key:before {
	content: "\e98d";
}
.icon-key2:before {
	content: "\e98e";
}
.icon-lock:before {
	content: "\e98f";
}
.icon-unlocked:before {
	content: "\e990";
}
.icon-wrench:before {
	content: "\e991";
}
.icon-equalizer:before {
	content: "\e992";
}
.icon-equalizer2:before {
	content: "\e993";
}
.icon-cog:before {
	content: "\e994";
}
.icon-cogs:before {
	content: "\e995";
}
.icon-hammer:before {
	content: "\e996";
}
.icon-aid-kit:before {
	content: "\e998";
}
.icon-bug:before {
	content: "\e999";
}
.icon-pie-chart:before {
	content: "\e99a";
}
.icon-stats-dots:before {
	content: "\e99b";
}
.icon-stats-bars:before {
	content: "\e99c";
}
.icon-stats-bars2:before {
	content: "\e99d";
}
.icon-leaf:before {
	content: "\e9a4";
}
.icon-bin:before {
	content: "\e9ac";
}
.icon-bin2:before {
	content: "\e9ad";
}
.icon-switch:before {
	content: "\e9b6";
}
.icon-clipboard:before {
	content: "\e9b8";
}
.icon-list-numbered:before {
	content: "\e9b9";
}
.icon-list:before {
	content: "\e9ba";
}
.icon-list2:before {
	content: "\e9bb";
}
.icon-tree:before {
	content: "\e9bc";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-menu2:before {
	content: "\e9be";
}
.icon-menu3:before {
	content: "\e9bf";
}
.icon-menu4:before {
	content: "\e9c0";
}
.icon-cloud:before {
	content: "\e9c1";
}
.icon-cloud-download:before {
	content: "\e9c2";
}
.icon-cloud-upload:before {
	content: "\e9c3";
}
.icon-cloud-check:before {
	content: "\e9c4";
}
.icon-download2:before {
	content: "\e9c5";
}
.icon-upload2:before {
	content: "\e9c6";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-upload3:before {
	content: "\e9c8";
}
.icon-sphere:before {
	content: "\e9c9";
}
.icon-earth:before {
	content: "\e9ca";
}
.icon-link:before {
	content: "\e9cb";
}
.icon-attachment:before {
	content: "\e9cd";
}
.icon-eye:before {
	content: "\e9ce";
}
.icon-eye-plus:before {
	content: "\e9cf";
}
.icon-eye-minus:before {
	content: "\e9d0";
}
.icon-eye-blocked:before {
	content: "\e9d1";
}
.icon-bookmark:before {
	content: "\e9d2";
}
.icon-bookmarks:before {
	content: "\e9d3";
}
.icon-star-empty:before {
	content: "\e9d7";
}
.icon-star-half:before {
	content: "\e9d8";
}
.icon-star-full:before {
	content: "\e9d9";
}
.icon-heart:before {
	content: "\e9da";
}
.icon-plus:before {
	content: "\ea0a";
}
.icon-minus:before {
	content: "\ea0b";
}
.icon-cross:before {
	content: "\ea0f";
}
.icon-checkmark:before {
	content: "\ea10";
}
.icon-checkmark2:before {
	content: "\ea11";
}
.icon-enter:before {
	content: "\ea13";
}
.icon-exit:before {
	content: "\ea14";
}
.icon-loop:before {
	content: "\ea2d";
}
.icon-loop2:before {
	content: "\ea2e";
}
.icon-circle-up:before {
	content: "\ea41";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-circle-left:before {
	content: "\ea44";
}
.icon-sort-alpha-asc:before {
	content: "\ea48";
}
.icon-sort-alpha-desc:before {
	content: "\ea49";
}
.icon-sort-numeric-asc:before {
	content: "\ea4a";
}
.icon-sort-numberic-desc:before {
	content: "\ea4b";
}
.icon-sort-amount-asc:before {
	content: "\ea4c";
}
.icon-sort-amount-desc:before {
	content: "\ea4d";
}
.icon-radio-checked2:before {
	content: "\ea55";
}
.icon-radio-unchecked:before {
	content: "\ea56";
}
.icon-table2:before {
	content: "\ea71";
}
.icon-paragraph-left:before {
	content: "\ea77";
}
.icon-paragraph-center:before {
	content: "\ea78";
}
.icon-paragraph-right:before {
	content: "\ea79";
}
.icon-paragraph-justify:before {
	content: "\ea7a";
}
.icon-indent-increase:before {
	content: "\ea7b";
}
.icon-indent-decrease:before {
	content: "\ea7c";
}
.icon-embed:before {
	content: "\ea7f";
}
.icon-embed2:before {
	content: "\ea80";
}
.icon-terminal:before {
	content: "\ea81";
}
.icon-share2:before {
	content: "\ea82";
}
.icon-mail:before {
	content: "\ea83";
}
.icon-mail2:before {
	content: "\ea84";
}
.icon-mail4:before {
	content: "\ea86";
}
.icon-google:before {
	content: "\ea87";
}
.icon-google-plus:before {
	content: "\ea88";
}
.icon-google-plus2:before {
	content: "\ea89";
}
.icon-google-plus3:before {
	content: "\ea8a";
}
.icon-google-drive:before {
	content: "\ea8b";
}
.icon-facebook:before {
	content: "\ea8c";
}
.icon-facebook2:before {
	content: "\ea8d";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-instagram:before {
	content: "\ea90";
}
.icon-twitter:before {
	content: "\ea91";
}
.icon-twitter2:before {
	content: "\ea92";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-feed3:before {
	content: "\ea95";
}
.icon-feed4:before {
	content: "\ea96";
}
.icon-youtube:before {
	content: "\ea97";
}
.icon-youtube2:before {
	content: "\ea98";
}
.icon-youtube3:before {
	content: "\ea99";
}
.icon-github:before {
	content: "\eab1";
}
.icon-github2:before {
	content: "\eab2";
}
.icon-github3:before {
	content: "\eab3";
}
.icon-github4:before {
	content: "\eab4";
}
.icon-github5:before {
	content: "\eab5";
}
.icon-tux:before {
	content: "\eabe";
}
.icon-apple:before {
	content: "\eabf";
}
.icon-finder:before {
	content: "\eac0";
}
.icon-android:before {
	content: "\eac1";
}
.icon-windows:before {
	content: "\eac2";
}
.icon-windows8:before {
	content: "\eac3";
}
.icon-reddit:before {
	content: "\eac7";
}
.icon-linkedin:before {
	content: "\eac8";
}
.icon-linkedin2:before {
	content: "\eac9";
}
