{% load static from staticfiles %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="frHqvbBW-FgsYxY3UXoCw2Dcyp5T7S-RaabvtmzlF-M" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>{% block title %}Biblioteca de  Referencia {% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/estilo.css"%}"/>
	{% block extraHead %}{% endblock%}
</head>
<body>
	<header>
		<div class="barraTitulo">
			<div class="logo">
				<span class="icon-books "></span>
				BIBLIOTECA DE REFERENCIA
				<div class="session">
					{% if user.is_authenticated %}
					<a href="{% url 'inicio_sesion' %}" class=" icon-home inicio "></a> 
					<a href="{% url 'salir' %}"> <span class="icon-exit lineaDerecha ">Salir</span></a>
					{% else %}
					 <a href="{% url 'inicio' %}" class="icon-home inicio  "></a> 
					 <spam class="itemIngresar"><span class="icon-enter lineaDerecha"></span> Ingresar</spam>
					{% endif %}		
				</div>

					<div class="itemSesion">

					<a href="{% url 'social:begin' 'twitter' %}" class="inicioTwitter" > <span class="icon-twitter"></span> ENTRA CON TWITTER</a>
					</div>			
			</div >
					
			<div data-magellan-expedition="fixed">
				<dl class="sub-nav">
					<div class="subMenuPrincipal">
						<div class="activarBuscador">Buscador</div>
						<div class="menuMobilPrincipal">Menu</div>				
					</div>
				
					<div class="limpiarEspacio"></div>
							
					<div class="menuBuscador">
						<nav class="principalMenu ">
							{% include 'menu.html'%}
						</nav>
						<div class="principalMenuBuscador ">
							{% block opcionBuscador %}
							{% endblock %}	
						</div>
					</div>
				
				</div>
			</dl>
		</div>
	</header>
	<section class="contenido">
		{% block barraContenido %}{% endblock %}	
		{% block contenido%}{% endblock%}
	</section>
	<aside>
	</aside>
	<section class="contenidoInicio">
		{% block contenidoInicio%}{% endblock%}
	</section>
	<footer>
		<a href="https://github.com/debian789/BibliotecaCodigo" target="_black">Mas informacion del proyecto <span class=" icon-github3"></span> <span> debian789@gmail.com</span></a> 
	</footer>
	<script src="{% static "js/vendor/jquery.js"%}"></script>
	<script src="{% static "js/vendor/foundation.min.js"%}"></script>
	<script src="{% static "js/vendor/masonry.pkgd.min.js"%}"></script>
	<script src="{% static "js/main.js"%}"></script>
	<script>
	$(document).foundation();
	</script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-47447387-1', 'cryptic-mesa-8094.herokuapp.com');
	ga('send', 'pageview');
	</script>
</body>
</html>