		<header>
			<div class="barraTitulo">
				<div class="logo">
					BIBLIOTECA DE REFERENCIA
					<span class="icon-books "></span>
					
					<div class="  menuMobilPrincipal   icon-reorder"></div>
					
					
				</div>

				<div class="ingresoSalida     ocultarMenu  principalMenu  ">
					{% if user.is_authenticated %}
					<a href="{% url 'inicio_sesion' %}" class=" icon-home inicio"></a>
					<a href="{% url 'salir' %}"> Cerrar Sesion <span class="icon-exit"></span></a>
					{% else %}
					<a href="{% url 'inicio' %}" class=" icon-home inicio "></a>
					<a href="{% url 'ingresar' %}" class=" "> Ingresar  <span class="icon-enter"></span> </a>
					{% endif %}
				</div>
			</div>

			
			{% if user.is_authenticated %}
			<nav class="navegacion ocultarMenu  principalMenu ">
				<ul>
					{% for item in menu%}

					<li {% if item.active%} style="background:#A9BDE6"{% endif %}>
						<a href="{{ item.url }}" >
							{{ item.name }}<span class=" icon-code"></span>
						</a>
					</li>

					{% endfor %}
					
				</ul>
				


				<div class="buscador">
					<div class="icon-search"></div>
					<input type="text">
				</div>

			</nav>
			{% endif%}
		</header>