{% if user.is_authenticated %}
	{% for item in menu%}
		<li  {% if item.active%} class="active "{% endif %} >
			<a href="{{ item.url }}">
				<span class=" {{ item.icono }}"></span> {{ item.name }}
			</a>
		</li>
		<li class="divider"></li>

		<!-- <li {% if item.active%} style="background:#A9BDE6"{% endif %}> 
		<li class="menuItem" {% if item.active%} style="border: 1px solid #ccc "{% endif %}>
			<a href="{{ item.url }}" >
			</a>
		</li>
		-->

	{% endfor %}	
{% else %}
	{% for item in menu_publico %}
		
		<li  {% if item.active%} class="active "{% endif %}>
		<a href="{{ item.url }}" >
		 <span class=" {{ item.icono }}"></span> {{ item.name }}
		</a>
		</li>
	{% endfor %}	
{% endif %}
