{% extends "base.html" %}
{% load pygmentify %}
{% block titulo%} Detalle del codigo  {% endblock %}
{% block contenido %}
{% if codigo %}


<div class="subNavegacion">
	<a href="{% url 'inicio' %} " > Home </a> > 
{% if user.is_authenticated %}
	<a href="{% url 'codigos' %}" > Codigos </a>  > 
	<a href="#" class="activado"> Detalles del Codigo  </a>
{% else %}
	<a href="{% url 'codigos_publicos' %}" > Codigos </a>  > 
	<a href="#" class="activado"> Detalles del Codigo  </a>
{% endif %}
</div>



<article class="detalles">
	<div class="subTitulo ">
		<h3><span class="colorVerde">Detalles del Codigo</span>  </h3>

		<div class="opcionesVisualizacion">
{% if user.is_authenticated %}
			<a href="{% url 'codigo_pdf' codigo.id %}" class="icon-file-pdf colorRojo "></a>
			<a href="{% url 'agregar_codigo'%}"  class="  icon-plus-sign lineaDerecha colorVerde opcionNuevo"  data-reveal-id="modalAdministracion" data-reveal  ></a>	
			{% if codigo.favorito %}
			<!-- <a href="{ url 'quitar_favorito' codigo.id }" class="lineaDerecha icon-star "></a> -->
			{% else %}
			<!-- <a href="{ url 'agregar_favorito' codigo.id }" class=" lineaDerecha icon-star3 "></a> -->
			{% endif %}
			<a href="{% url 'editar_codigo' codigo.id %}" class=" lineaDerecha icon-pencil2 colorNaranjaC opcionEditar" data-reveal-id="modalAdministracion" data-reveal></a>
			<a href="{% url 'eliminar_codigo' codigo.id %}" class=" lineaDerecha  icon-remove2 colorRojo"></a>		
{% else %}
			<a href="{% url 'codigo_pdf' codigo.id %}" class="icon-file-pdf colorRojo "></a>
{% endif %}
		</div>	




	</div>
	<div class="tituloDetalles">
	<h1>{{ codigo.titulo}} </h1>
		<div> compartir</div>
	</div>
	<div class="descripcionInformacion">
		<div class="descripcionDetallada">
	<div class=""><strong><span>Descripcion</span></strong></div>
			<p>{{ codigo.descripcion }}</p>
			<div class="masInformacionDetallada"> Mas informacion  &nbsp; <span class=" icon-expand2"> </span></div>
		</div>
		<div class="descripcionExtra fondoVerdeD">
			<div class="tituloExtra">Informacion Extra </div>
			<div class="tituloDescripcion"><span>Lenguaje  </span>
				<span>{{ codigo.lenguaje }}</span>
			</div>
			<div class="tituloDescripcion"><span>Adjunto </span>
				{% if codigo.archivo %}
				<span>
					
				<a href="{{MEDIA_URL}}/{{codigo.archivo}}" target="blank">
					<span class=" icon-download2 " ></span> Descargar
				</a>
				</span>
				{% else %}
				<span>Sin adjunto </span>
				{% endif %}
			</div>
		</div>
	</div>
	<div > <p></p> </div>
	<div class="subTitulo2"><span>Codigo Fuente</span></div>
	<div class="descripcionCodigo"> {{ codigoFuente|pygmentify_inline }}</div>
</article>

<div id="modalAdministracion" class="reveal-modal  small medium" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
{% endif%}
{% endblock %}